<% if params[:metonic] == "1" %>
	<% metonic = true %>
<% else %>
	<% metonic = false %>
<% end %>

<% year_input = params[:year] %>
<% month_input = params[:month] %>

<div class="spacer"></div>

<div class="calendar-form">
	<div class="calendar-form-wrapper">
		<h3 style="color: #D4AB1D;">Generate Calendar</h3><br />
		
		<%= form_tag(calendar_view_path, method: :get) do %>
			<% if params[:year].present? %>
				<%= text_field_tag(:year, params[:year]) %><br />
			<% else %>
		    	<%= text_field_tag(:year, "Year") %><br />
		    <% end %>
		    <%= label_tag :year, "Year must be in BG (BG = CE + 1019)"%><br /><br />
		    <%= select_tag :month, options_for_select([['Quimonios', 'Quimonios'], ['Samonios', 'Samonios'], ['Dumanios', 'Dumanios'], ['Riuros', 'Riuros'], ['Anagantios', 'Anagantios'], ['Ogronios', 'Ogronios'], ['Cutios', 'Cutios'], ['Rantaranos', 'Rantaranos'], ['Giamonios', 'Giamonios'], ['Simiuisonna', 'Simiuisonna'], ['Equos', 'Equos'], ['Elembi', 'Elembi'], ['Aedrinni', 'Aedrinni'], ['Cantlos', 'Cantlos']], params[:month])%><br /><br />
		    <% if params[:metonic] == "1" %>
		    	<%= check_box_tag :metonic, "1", true %>
		    <% else %>
		    	<%= check_box_tag :metonic %>
		    <% end %>
		    <%= label_tag :metonic, "Metonic?" %><br /><br />
		    <%= submit_tag "Submit" %>
		<% end %>
	</div>
</div>

<% if params[:year].present? && params[:month].present? %>
	<% if !Coligny::ColignyYear.new(params[:year].to_i, metonic).months.find { |s| s.name == params[:month].to_s }.nil? %>
		<div class="calendar-container">
			<div class="calendar-wrapper">
				<div class="calendar-header"><h2><%= params[:month].to_s + " " + params[:year].to_s %></h2></div>
				<br />
				<br />
				<div class="calendar-block">
					<p>Sunday</p>
				</div>
				<div class="calendar-block">
					<p>Monday</p>
				</div>
				<div class="calendar-block">
					<p>Tuesday</p>
				</div>
				<div class="calendar-block">
					<p>Wednesday</p>
				</div>
				<div class="calendar-block">
					<p>Thursday</p>
				</div>
				<div class="calendar-block">
					<p>Friday</p>
				</div>
				<div class="calendar-block">
					<p>Saturday</p>
				</div>
				<% if params[:metonic] == "1" %>
					<% date = Coligny::ColignyYear.new(params[:year].to_i, true) %>
				<% else %>
					<% date = Coligny::ColignyYear.new(params[:year].to_i) %>
				<% end %>
				<% month = date.months.find { |s| s.name == params[:month] } %>
				<% if params[:metonic] == "1" %>
					<% Coligny::ColignyDate.new(params[:year].to_i, params[:month], 1, true).to_gregorian_date.wday.times do |block| %>
						<div class="calendar-block">-</div>
					<% end %>
				<% else %>
					<% Coligny::ColignyDate.new(params[:year].to_i, params[:month], 1).to_gregorian_date.wday.times do |block| %>
						<div class="calendar-block">-</div>
					<% end %>
				<% end %>
				<% (1...(month.days + 1)).each do |day| %>
					<div class="calendar-block">
						<h1><%= day %></h1>
						<% if params[:metonic] == "1" %>
							<h4><%= Coligny::ColignyDate.new(params[:year].to_i, params[:month], day, true).to_gregorian_date %></h4>
						<% else %>
							<h4><%= Coligny::ColignyDate.new(params[:year].to_i, params[:month], day).to_gregorian_date %></h4>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
	<% else %>
		<br />
		<div class="calendar-error-container">
			<div class="calendar-error-wrapper">
				<p class="calendar-error">Month not present in year specified!</p>
			</div>
		</div>
	<% end %>
<% end %>

<div style="clear: both;"></div>
<br />
