<div class="spacer"></div>
<div class="small-spacer"></div>

<div class="header-half-2 col-xs-12 col-sm-7">
	<h1 class="text-center">Posts in the <%= @category.name %> forum.</h1>
</div>
<div class="header-half-2 col-xs-12 col-sm-5">
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
	  Add A New Post
	</button>
</div>
<div style="clear: both;"></div>
<div class="small-spacer"></div>
<div class="forum-box box box1">
	<div class="inner">
		<div class="categories">
			<% @category.posts.each do |post| %>
				<div class="category-container">
					<h2><%= link_to post.title, category_post_path(@category, post) %></h2>
					<br/>
					<% if post.user.id == 4 %>
						<p><%= post.guest_name %></p>
						<p>Guest</p>
						<p><%= post.guest_email %></p>
					<% else %>
						<p><%= post.user.name %></p>
						<p><%= post.user.email %></p>
					<% end %>
				</div>
				<br />
			<% end %>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" id="modal-diag-center" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add A New Post</h4>
      </div>
      <%= form_for @post, url: category_posts_path(@category) do |f| %>
      	  <div class="modal-body">
			<% if current_user %>
				<%= f.hidden_field :user_id, :value => current_user.id %>
			<% else %>
				<%= f.hidden_field :user_id, :value => 4 %>
				<div class="field">
					<%= f.label :guest_name %><br />
					<%= f.text_area(:guest_name, size:"24x1") %>
				</div>
				<br />
				<div class="field">
					<%= f.label :guest_email %><br />
					<%= f.email_field(:guest_email, size:"24x1") %>
				</div>
				<br />
			<% end %>
			<div class="field">
				<%= f.label :title %><br />
				<%= f.text_area(:title, size:"24x1") %>
			</div>
			<br />
			<div class="field">
				<%= f.label :content %><br />
				<%= f.text_area(:content, size:"24x6") %>
			</div>
			<br />
      	  </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <%= f.submit "Add a Post", class: 'btn btn-primary' %>
	      </div>
      <% end %>
    </div>
  </div>
</div>
